[2016-03-07 20:18] atheken opened #3 "Allow Postmark-wordpress to be used as a drop-in plugin."
Allow Postmark-wordpress to be used as a drop-in plugin, see here: https://codex.wordpress.org/Must_Use_Plugins

[2016-03-14 15:47] atheken opened #4 "Allow "From" header to override the default sender."
Allow users to include a "From" header in mail they send using the wp_mail function. This would override the default sender configured in the control panel. (The sender would still need to be a confirmed sender signature...)

[2016-03-14 21:20] mgibbs189 commented on #4
What happens if they try using a `From` address that isn't a confirmed sender?

[2016-03-14 22:59] atheken commented on #4
@mgibbs189 the Postmark API will produce an API [Error code, 401](http://developer.postmarkapp.com/developer-api-overview.html#error-codes). This error can also occur if a user has configured the default sender, and then removes it from their account at a later time.

BTW, I really just opened this as a reminder to enhance the plugin, no expectation for you to update the plugin, but your contribut

[2016-03-14 23:01] atheken opened #5 "Allow plugin to be used as a "must-use" plugin"
See here for an explanation of the feature: http://gregrickaby.com/create-mu-plugin-for-wordpress/

[2016-03-14 23:11] mgibbs189 commented on #3
Duplicate of #5?

[2016-03-14 23:12] mgibbs189 commented on #4
No worries. Been loving Postmark thus far, so I'll do whatever I can to help.

[2016-03-14 23:18] mgibbs189 commented on #5
Maybe this is worth its own repo?

The code to convert this into a MU plugin wouldn't be all that different... it'd just involve stripping out the UI and supporting the necessary constants:

[code]

[2016-03-24 17:58] atheken commented on #4
This is done as of version 1.9 of the plugin.

[2016-03-24 17:58] #4 closed

[2016-04-19 08:19] pderksen opened #6 "Disable REST API email sending programatically"
Is there a way to disable sending emails via the REST API through code?

In my case, when I make a snapshot of my live site to staging (in this case WP Engine), I can then detect I'm on a staging URL, and send automated emails through the site to a test SMTP server (in this case mailtrap.io).

If I forget this then user accounts on my site will start to get automated emails through the staging sit

[2016-04-20 03:05] mgibbs189 commented on #6
Hi @pderksen

Not currently, but we could probably add a filter to [this line](https://github.com/wildbit/postmark-wordpress/blob/a7b31e9e2a2856afdb127ed9fc740413a67e0ea6/postmark.php#L112).

Before:

[code]

After:

[code]

Usage:

[code]

[2016-04-20 03:12] mgibbs189 commented on #6
See #7

[2016-04-20 04:18] pderksen commented on #6
@mgibbs189 That should do it. Pretty straight-forward. Thanks!

[2016-04-28 13:18] atheken commented on #6
Thanks @mgibbs189! I merged it to master.

@pderksen Feel free to grab the latest from master, or you might also use our "testing" key for sending from staging, `POSTMARK_API_TEST`, as outlined here: http://developer.postmarkapp.com/developer-send-api.html

[2016-04-28 13:18] #6 closed

[2016-04-28 13:19] atheken opened #8 "Allow configurable timeout for DNS lookups."
Investigate options for allowing longer DNS lookup windows.

From user report:

"I looked at the result of the $response request in postmark.../wp-mail.php and got this error:

wp-error - http request error - name lookup timed out.

It appears my dns was a bit slow. So I looked up the docs of the wp_remote_post function and added a timeout option to the $args array and that fixed it."

[2016-04-28 13:19] atheken opened #9 "Log error produced by API when when sending fails."
Log the error produced by the Postmark API when a wordpress send fails.

[2016-04-28 16:58] pderksen opened #10 "Option and filter for sending test emails using POSTMARK_API_TEST key"
From #6 via @atheken:

I'd love to see this added as an option (to toggle in plugin settings) and filter (to toggle programmatically). If I can view the emails within the Postmark dashboard without them getting actually sent, then this would
alleviate the need to use Mailtrap or similar services for my staging site email testing.

[2016-05-19 23:27] guillaumemolter opened #11 "Make the plugin compatible with multisite networks"
When the plugin is network activated on a WordPress multisite install, the admin page should be located in the Network admin, and the effect of the plugin should be global to the network.

More details here: http://rabinshrestha.com/make-wordpress-plugin-compatible-with-multisite/

[2016-06-10 16:07] thesourceforwomen commented on #11
Agreed, that would be soo nice.

[2016-08-06 12:36] guillaumemolter commented on #3
Yes definitely a duplicate of #5

[2016-08-06 13:02] guillaumemolter opened #12 "Better settings validation and security"
Settings from the admin form should be properly validated instead of "blindly trusting" values returned by the form.

The form should also use a [nonce](https://codex.wordpress.org/WordPress_Nonces) for enhanced security.

We should also check that the user [has sufficient privilege](https://codex.wordpress.org/Function_Reference/current_user_can) to update the settings.

[2016-08-06 14:13] guillaumemolter opened #13 "Don't store settings as JSON"
`update_option` accepts arrays as parameter and will handle auto-serialization.

`get_option` will also auto-deserialize into an array.

I know JSON is great and pretty popular but WordPress uses PHP serialized data. Not using it requires some extra processing that would normally be automatically handled by WordPress. It also breaks compatibility with some widely use WordPress tools (ie: search-re

[2016-08-06 16:14] mgibbs189 commented on #13
@guillaumemolter can you confirm that WP-CLI's `search-replace` doesn't support JSON? I don't see why it wouldn't...

This amounts to a difference in opinion. We either manually run `json_decode`, or WP automatically runs `unserialize`. The same amount of processing is done regardless.

Plus the Postmark plugin's UI is javascript based, and uses the unmodified JSON settings (makes thing a lot simp

[2016-08-06 23:33] guillaumemolter commented on #13
@mgibbs189

Yeah no you right...thinking about it twice...I don't see why it would be an issue.

Well until you need to do some data validation, escaping etc... see https://github.com/wildbit/postmark-wordpress/blob/master/postmark.php#L95 where the json is decoded only to check that it's valid... and then if you want to sanitize the data properly, on need to decode and re-encode.

Once again ther

[2016-09-05 10:42] galbaras opened #16 "Call to undefined function mime_content_type() in wp-mail.php line 163"
Some systems don't have the mime.magic module enabled, or are running versions of PHP without support for the function mime_content_type(). This results in the above fatal error.

The solution is rather simple. Please add this to your plugin:

if ( ! function_exists( 'mime_content_type' ) ) {

[code]

}

[2016-09-07 00:34] galbaras commented on #16
Sorry, it looks like the respective server doesn't like my code either. Any other ideas?

[2016-09-07 01:06] galbaras commented on #16
Me again. I've had to make the code check for "finfo_open" as well and use static defaults, but there are other solutions you may prefer. See the Notes section on http://php.net/manual/en/function.mime-content-type.php (I've gone with solution 23 by svogal)

[2016-09-15 13:13] atheken commented on #16
@galbaras Can you tell me a little more about your WP configuration? Which version of WP, on what version of PHP / OS? I'd like to reproduce it if possible.

[2016-09-15 13:18] mgibbs189 commented on #8
@atheken The WP_Http library already has hooks to control timeouts. I don't think this warrants its own UI settings since it's an edge case.

E.g. the `http_request_args` and `http_request_timeout` filters

[2016-09-15 13:18] #8 closed

[2016-09-15 16:04] guillaumemolter commented on #16
An easy fix would be for the plugin to rely on [wp_check_filetype](https://codex.wordpress.org/Function_Reference/wp_check_filetype)

[2016-09-16 02:32] galbaras commented on #16
WP 4.6.1, PHP 7.0.10, CentOS/cPanel/CloudLinux (not sure what version).

wp_check_filetype() looks like it's using similar code to what worked for me and seems like the way to go with the Postmark plugin.

[2016-09-16 18:44] guillaumemolter commented on #16
@galbaras Well that's why WordPress has a lot of functions that seem to be reinventing the wheel but in reality are usually here to add better support for old or exotic systems.

[2016-09-19 02:26] galbaras commented on #16
@guillaumemolter you could argue that these can be improved or that the core team should require some minimum configuration and remove them. For the purpose of this issue, I think the solution is rather clear and clean. All that remains is for it to be done by the plugin developer(s), followed by our deep appreciation, of course ;>

[2016-09-28 23:56] mgibbs189 opened #17 "Why is Force HTML / Track Opens deprecated?"
I'm curious as to why this is deprecated?

There's lots of cases where the user doesn't have direct control of `wp_mail` such as when emails are sent via other plugins (think form plugins).

Can we remove the deprecated notice?

[2016-09-29 01:10] #17 closed

[2016-09-29 20:13] guillaumemolter commented on #16
@galbaras feel free to open a PR, that may speed up things.

[2016-09-30 10:50] galbaras commented on #16
I've already fixed the problem for me. This issue was opened as a public service and I don't know how to do a PR.

[2016-09-30 13:55] atheken opened #18 "Propagate headers to Postmark API"
Currently, only "recognized" headers are assigned to message properties when sending a message. The non-recognized headers are silently ignored by the plugin, but should be passed to the API when sending the message.

[2016-11-10 13:23] atheken commented on #16
@galbaras Thanks for opening the Issue. This has been added to master, and will be in the next WP release.

[2016-11-10 13:23] #16 closed

[2016-11-10 13:29] atheken commented on #10
@pderksen I'm not really sure it makes sense for this to be built in to the WP plugin.

If you'd like to verify that messages are processed by Postmark but want to "trap" them, then a really simple solution is to create a "Testing Trap" Inbound Server in Postmark, and send all of your test messages to the inbound address we provide for that server.

[2017-03-24 10:00] aytackokus opened #22 "Saving MessageID after sending the email"
Currently it is not possible to save the MessageID after sending an email, because wp_mail does return TRUE instead of response data from postmarkapp api.

[2017-03-29 07:26] aytackokus opened #24 "Adding a hook for failed mailing"
This is enhancement based on #22

[2017-03-29 08:06] aytackokus commented on #24
f9b1adac48e614d07eabda329d6d8dcea2bf5a5c

[2017-05-11 13:54] atheken opened #26 "Make "Test Send" error more obvious."
When doing a test send, we currently dump the API response to the UI. This is to allow customers that face issues an easy way to provide us data about their issue if they contact us in support. However, the `var_dump` is pretty ugly, and not very friendly to most users.

Let's improve the "error experience" for Test Sends.

[2017-06-06 14:04] atheken opened #27 "Allow link tracking to be enabled in the control panel."
Allow link tracking to be automatically enabled for messages sent via the wordpress plugin.

[2017-07-25 20:36] bhubbard opened #29 "Test Email Notice"
When you send a test email, the notice is persistent until you leave the page. There should be an option to remove it.

[2017-07-25 20:37] bhubbard opened #30 "Option to Fallback to Postmark SMTP"
It might make sense to have a postmark smtp function that can be used as a fallback for certain situations.

http://developer.postmarkapp.com/developer-send-smtp.html

[2017-07-25 20:39] bhubbard opened #31 "Setup Gulp"
I suggest setting up Gulp, to do the following:

* Compile and Minify the CSS & JS for the plugin
* Optimize Images within the plugin
* To make a github markdown version of the readme file.
* etc

[2017-07-25 20:41] bhubbard opened #32 "Rest API"
It would be great to have rest api endpoints for each of the webhooks needed in Postmark. This could allow the site to handle the actions as it sees best.

[2017-07-25 20:42] bhubbard opened #33 "WP-CLI Support"
I would like to see support for WP-CLI. There could be useful commands such as sending a test email, etc.

[2017-09-25 12:37] atheken opened #34 "Expose errors using `postmark_error` filter."
Since the `wp_mail` function returns void, it is harder to expose API exceptions to plugins and client code.

Make the plugin expose errors when `postmark_error` filters are supplied.

[2017-10-30 12:40] atheken opened #35 "Allow users to specify a timeout for API requests."
Some users want to extend the timeout for waiting for a send request to complete before cancelling the request.

Add a field to the configuration UI to allow them to increase the timeout.

[2018-08-16 22:34] bompus commented on #18
I'd also like to see this. I'm trying to include headers such as
X-PM-Tag: foo
X-PM-Metadata-foo: bar

But they currently do nothing. Hopefully this can be added soon :)

[2018-11-13 18:14] pgraham3 opened #37 "Add links to WordPress related Postmark help articles to ReadMe"
- [ ] Postmark for WordPress FAQ
- [ ] Can I use the Postmark for WordPress plugin with Gravity Forms?
- [ ] How do I send with Ninja Forms and Postmark for WordPress?
- [ ] How do I send with Contact Form 7 and Postmark for WordPress?
- [ ] Can I use the Postmark for WordPress plugin with Divi contact forms?

[2018-11-14 16:45] #37 closed

[2018-11-14 22:10] pgraham3 commented on #9
Released in v1.10.1

[2018-11-14 22:10] #9 closed

[2018-11-15 23:14] EatonZ opened #38 "1.10.1 PHP error"
After upgrading to the new 1.10.1 version and going to Settings -> Postmark in wp-admin, the following error appears in PHP error logs:

`WordPress database error Table 'ts.wp_postmark_log' doesn't exist for query SELECT COUNT(*) FROM wp_postmark_log made by require_once('C:\inetpub\TS\wwwroot\wp-admin\admin.php'), do_action('settings_page_pm_admin'), WP_Hook->do_action, WP_Hook->apply_filters, Po

[2018-11-15 23:55] EatonZ commented on #38
@pgraham3 Thanks for the quick response.
Unfortunately, 1.10.2 does not fix it. It still happens.

[2018-11-16 00:29] pgraham3 commented on #38
@EatonZ Thanks for trying that - looks like it may have been an issue with version definition in the constructor being off. Please try 1.10.3 and let me know if that does the trick.

[2018-11-16 00:36] EatonZ commented on #38
@pgraham3 I got this error after upgrading, but it only happened once. Loading the settings page doesn't trigger it. I assume you will publish another version to fix this - should I drop this bad table?

`WordPress database error You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''pmlogdateindex' ON wp_postmark_log

[2018-11-16 00:45] pgraham3 commented on #38
Yes, please drop that table and then try to disable/enable logging again in the settings. Let me know if you continue to get a db error after trying to enable/disable the new logging option. Thanks for working with me on this.

[2018-11-16 00:50] EatonZ commented on #38
@pgraham3 It happens when toggling the setting too. So it looks like the table creation is bugged.

[2018-11-16 00:54] pgraham3 commented on #38
Got it - I will work on a new version that fixes that index creation error and let you know when it is available.

[2018-11-16 01:05] pgraham3 commented on #38
@EatonZ Removed the indexing to resolve that last error for now (see v1.10.4). Will look into adding the index step back in a future release. Let me know if anything else comes up with the new release.

[2018-11-16 01:44] #38 closed

[2018-11-16 02:08] EatonZ commented on #38
@pgraham3 Since the upgrade didn't create that table again, I still get the error in the first post every time I view the settings.
When I toggle the log option on, it creates the table which fixes it, but when toggling off, the error comes back since that apparently drops the table. You should try to stop that error from showing if the table isn't there.

I am not getting the index error anymore,

[2018-11-16 03:36] pgraham3 commented on #38
@EatonZ I updated v1.10.4 again with a change to how the settings page checks for the enable logs setting to ensure that variable is set before trying to check that table.

I went through the upgrade process to double check (going from v1.9.6, which was the last release before this new logs option was added, to v1.10.4) and did not get any PHP errors or MySQL related errors.

This last change shou

[2018-11-16 03:54] EatonZ commented on #38
@pgraham3 I think we're good now - not noticing any further errors.
Thank you for the quick fixes.

[2018-11-16 04:01] pgraham3 commented on #38
@EatonZ Glad to hear it! Thanks for confirming it's all good now.

[2018-11-17 00:00] pgraham3 commented on #33
@bhubbard @guillaumemolter

Hello - I have a branch here for the work I am doing on adding WP-CLI support.

https://github.com/wildbit/postmark-wordpress/tree/wp-cli-support

With it you can generate test sends, including the option to set the from address, to address, subject, body, and open tracking flag. I hope to release it next week after some more testing.

What else would you benefit from b

[2018-11-17 00:16] bhubbard commented on #33
@pgraham3 I think the ability to send emails, or batch emails (not just test emails) would be the biggest.

Just an FYI, you might find this library useful - https://github.com/wp-api-libraries/wp-postmark-api

[2018-11-17 00:43] EatonZ commented on #38
@pgraham3 Just got another error out of nowhere. I do not have logging enabled. Looks like some sort of scheduled task?

[code]

[2018-11-17 02:03] pgraham3 commented on #38
Thanks for the report @EatonZ. Looks like it might be trying to run the cron job to delete the old logs. I'll get a fix out.

[2018-11-17 02:56] pgraham3 commented on #38
@EatonZ Just pushed a fix for it (noticed a typo in my cron job deactivation step when the logs feature is disabled). Please update and then toggle logs on, then off again.

If you use a cron manager plugin, you should see a cron job called `pm_log_cron_job` when the logs setting is enabled and it should be removed from your scheduled cron jobs after disabling the logs feature.

Thanks for helping

[2018-11-17 17:49] EatonZ commented on #38
@pgraham3 Will that fix this one too?
`PHP Notice:  Undefined index: enable_logs in C:\inetpub\ts\wwwroot\wp-content\plugins\postmark-approved-wordpress-plugin\wp-mail.php on line 200`

[2018-11-17 19:15] pgraham3 commented on #38
@EatonZ Latest version, 1.10.6 has a fix for that as well.

[2018-12-12 23:17] pgraham3 commented on #27
Added link tracking support in v1.11.0

[2018-12-12 23:17] #27 closed

[2018-12-13 18:42] mgibbs189 opened #39 "load_settings() does not exist?"
Hey @pgraham3

I noticed this addition in a recent commit: https://github.com/wildbit/postmark-wordpress/blob/5aefc0f4f54c112b307c05fe8eb5ca961a9bb05a/postmark.php#L386

Has this change been tested?

I ask because `load_settings` is `Postmark_Mail` class method, but does **not** appear to be a global function.

[2018-12-13 20:39] pgraham3 commented on #39
v1.11.1 just released with a fix.

[2018-12-13 20:39] #39 closed

[2018-12-13 21:15] EatonZ commented on #38
@pgraham3 Getting a similar error now with the latest update:
`PHP Notice:  Undefined index: track_links in C:\inetpub\ts\wwwroot\wp-content\plugins\postmark-approved-wordpress-plugin\wp-mail.php on line 150`

[2018-12-13 21:41] pgraham3 commented on #38
@EatonZ Can you give 1.11.2 a shot? Let me know if it still pops up, added an isset check when setting track_links that should fix it.

[2018-12-13 23:42] mgibbs189 commented on #39
@pgraham3 Great! Thanks for the quick turnaround :)

[2019-02-05 13:09] cfoellmann commented on #3
CLOSE because of duplicate #5

[2019-02-05 15:04] cfoellmann opened #43 "GitHub vs WP.org"
MAJOR ISSUE:
I just tried to contribute to the codebase by checking out the repo here on GitHub.
When I activated tagged version 1.11.2 (gh) in my dev install it took me some time to realize that the version is broken.
The code differs from the released version on wp.org!
e.g. link tracking can not be activated because the js file is missing the code to hand the setting over to the ajax request.

[2019-02-05 16:34] pgraham3 commented on #43
@cfoellmann I updated the Github repo assets to match the current assets in the SVN repo:

https://github.com/wildbit/postmark-wordpress/releases/tag/v1.11.2

Thanks for the heads up.

[2019-02-05 16:34] #43 closed

[2019-02-09 14:47] cfoellmann commented on #13
I am biased - being a WordPress dev - but I am support the opinion to go the WordPress way.
Main points by @guillaumemolter I support are
- reusing data validation and escaping already proven in Core and
- lowering the threshold for contributors from the WP space by doing it the WP way !!!!

Especially not using the helpers provided by WP core is bad. WP is already bad when it comes to dependencie

[2019-02-09 14:55] cfoellmann commented on #12
This is done.

CLOSE

[2019-04-12 18:02] pgraham3 commented on #33
@bhubbard @guillaumemolter

Thanks for the feedback on this feature.

I added a bunch of additional commands and have the Postmark WP-CLI commands available in the development tag in the plugin's WordPress SVN repo now. The commands include the majority of all of the available Postmark API calls.

You can test it out by installing the development version with this WP-CLI command:

`$ wp plugin ins

[2019-05-15 04:59] markdwhite opened #48 "wp_mail_from* filters are ignored"
It looks like only the From headers are used to override whatever is set in postmark_settings, and that wp_mail_from and wp_mail_from_name are ignored. Is this correct?

This would suggest that we need to append to a From header in some way when we are using Postmark with a plugin that adds filters for wp_mail_from and from_name.

Does this sound about right?

[2019-05-15 14:48] #12 closed

[2019-05-15 15:35] pgraham3 commented on #48
Hi @markdwhite,

That is correct - as of right now _wp_mail_from_ and _wp_mail_from_name_ would be ignored with the _wp_mail_ override we do. I can't speak to why that decision was made, as I wasn't involved in the project at the time.

I am hesitant to modify this behavior in case it has some unintended side effects for long time users of the plugin.

Would [something like this](https://github.co

[2019-05-15 16:15] bhubbard opened #49 "Tag Default WordPress and WooCommerce Emails"
I would love it if we could have all the default emails get Postmark Tag Support. So for example the New User Email could get a tag like 'wp-new-user' or something similar to that. Here is a good list I found of all the default WordPress emails.

https://github.com/johnbillion/wp_mail

Being able to filter these emails by tags in Postmark would be extremely useful.

[2019-05-16 06:05] markdwhite commented on #48
@pgraham3

I totally understand about the need to maintain backwards compatibility. So it probably depends what order of precedence is best for correctly identifying $from.

The example code seems to be allowing the substitution of either/or wp_mail_from and wp_mail_from_name which requires the deconstruction of $from from the header. It might be reasonable to assume that the existence of a wp_mai

[2019-08-16 19:00] planetahuevo commented on #10
I would like to see this.
The reason for this feature is for the staging sites of WordPress.
you do not want to test emails, but to prevent them to reach users or clients from a staging site by mistake.
Being able to activate this using an wp-config variable will make staging management of the emails much easier.
On my example and your suggestion: you cannot send them to your inbox, because the em

[2019-08-16 20:46] pgraham3 commented on #10
@planetahuevo You can now use **POSTMARK_API_TEST** for your API token in the plugin settings with v1.11.5 (just released). Emails won't be delivered but you can see the processing result in the Logs tab (make sure logging is enabled).

[2019-08-16 20:46] #10 closed

[2019-08-16 21:19] planetahuevo opened #50 "Add option to setup settings on wp-config file"
Hi,
I would like to request this feature.
There are many advantages for this, some of them are:

- Secure your API KEY data. The admin dashboard can be accessed for many users, and sometimes you do not want that data to be leaked to your developers, clients or the SEO guy.
- It allow to easily deploy websites with your plugin using scripts. No need to go into the UI at all.
- It prevents clients o

[2020-03-05 17:43] cklosowski opened #51 "Many notices related to the constants being already defined."
It doesn't affect the functionality, but it appears there is possibly a path that leads two instances of the main `Postmark_Mail` to be instantiated, and because the `__construct` is setting some constants, it is possible for the notices to be dropped into the debug log.

A simple step for now would just be to throw in a "! defined()` check on each constant before using `define`. This at least pre

[2020-03-09 15:19] #51 closed

[2020-04-29 15:57] #31 closed

[2020-06-19 16:00] pgraham3 opened #58 "POSTMARK_DIR is undefined when upgrading plugin via CLI"
https://wordpress.org/support/topic/upgrade_completed-method-uses-undefined-postmark_dir-constant/

[2020-06-22 17:26] pgraham3 opened #59 "Improve handling of errors when Postmark API is timing out"
https://wordpress.org/support/topic/curl-timeout-at-postmark-causes-woocommerce-errors/

On May 28, Postmark’s API was down for about a half-hour
https://status.postmarkapp.com/incidents/105834

[2020-06-22 19:23] broksonic21 commented on #59
maybe an option to schedule an action scheduler or wp-cron email to send instead of doing it inline to the action? Particularly in the checkout flow. Or to be okay with a timeout/error and let the processing continue vs fail out the call flow?

[2020-06-23 19:03] #58 closed

[2020-06-23 19:17] pgraham3 commented on #58
@broksonic21 Just release v1.12.5 - please let me know if you see the undefined POSTMARK_DIR warning the next time you upgrade other plugins via the CLI. I switched to using [plugin_basename](https://developer.wordpress.org/reference/functions/plugin_basename/) to get the Postmark plugin when doing the comparison to the upgraded plugins, instead of using the constant + filename concatenated string

[2020-08-17 16:25] pgraham3 opened #61 "Add stream name as a 'recognized' header"
Let users specify the stream to use at the time of sending via header, so they are not locked into a single stream for all sending.

[2020-08-17 16:33] pgraham3 opened #62 "Clearly indicate errors in the logs page UI"
Make it easier to tell in the Settings link / Logs UI that there are recent errors in the logs.

[2020-09-07 15:40] pgraham3 opened #63 "Support wp_mail_from_name filter"
https://codex.wordpress.org/Plugin_API/Filter_Reference/wp_mail_from

[2020-09-08 11:41] broksonic21 commented on #58
This worked fine - Thanks!

[2020-09-08 11:41] broksonic21 opened #65 "Wordpress Error on Upgrade to v1.13.0"
Happens on multiple sites

Notice: Undefined variable: postmark in /app/wp-content/plugins/postmark-approved-wordpress-plugin/postmark.php on line 457
Fatal error: Uncaught Error: Call to a member function load_settings() on null in /app/wp-content/plugins/postmark-approved-wordpress-plugin/postmark.php:457

Admin then gets an email saying a terminal error existed.

[2020-09-08 12:02] tflight commented on #65
I'm seeing this as well across multiple sites. Possibly related https://github.com/wildbit/postmark-wordpress/issues/39?

[code]

[2020-09-08 16:13] bhubbard commented on #49
@pgraham3 I have a snippet that will tag to WooCommerce Emails. Not sure where best to place the code in the plugin.

[code]

[2020-09-08 17:50] bhubbard commented on #49
Here is one for Gravity Forms:

[code]

[2020-09-09 01:06] #63 closed

[2020-09-09 01:11] pgraham3 commented on #49
@bhubbard Love the idea.

We don't want to be forcing default tags for anyone but I do think the plugin should support adding a `Tag` in general. Then you could use your filters above to set the `X-PM-Tag` header you wish to use and it will be present on the sent email.

Can you give this PR a try and let me know if it meets your needs for setting a `Tag` for your messages?

https://github.com/wil

[2020-09-09 02:48] EatonZ commented on #65
Same here:
[code]

Site appears to be working fine, but please let me know if there is something that needs to be done to complete the upgrade manually.

[2020-09-09 16:06] pgraham3 commented on #65
Hi @EatonZ,

Thanks for the report! No further action is needed to complete the upgrade. WordPress recently introduced new error catching for plugins that revealed this upgrade error. The error is fixed in v1.13.2 of the Postmark for WordPress plugin, so future upgrades will not have this error moving forward.

[2020-09-09 16:06] #65 closed

[2020-09-17 19:25] bhubbard opened #69 "Support for WP_Environment_Type"
`WP_Environment_Type` is a new feature in 5.5. I would love to see postmark support it, so we can say have the default stream or server change based on the type. So Production, Staging, Dev, etc can be different.

https://make.wordpress.org/core/2020/07/24/new-wp_get_environment_type-function-in-wordpress-5-5/

[2020-11-13 12:26] andrejarh opened #70 "Plugin not working - because it is overwritting the wp_mail() function"
The Postmark plugin overwrites the native WordPress wp_mail() function. Tthis is a bad practice. You should use the wp_mail filter instead, and use unique names for your functions.

The Postmark plugin now relies on loading the modified wp_mail function before the official WordPress function wp_mail is loaded.

This solution works OK, but only if some other plugin does not require the official Wor

[2020-11-16 20:59] pgraham3 commented on #70
This is great info - thanks @andrejarh!

While it would require some substantial refactoring, like you mentioned, I do think it would be worth it in the long run. I'll see if I can get this slotted into my work sometime over the next couple quarters.

[2020-11-16 21:22] mgibbs189 commented on #70
The `wp_mail` function is **_meant_** to be overwritten, hence the comment at the very top of `pluggable.php`:

[code]

If you look at the `wp_mail` function, you'll see that it's **_heavily_** tied to the PHPMailer class, and there are no hooks to control this. This was by design. The WP core team did not think that there would be a need for multiple plugins to handle `wp_mail` in much the same w

[2020-11-16 21:30] pgraham3 commented on #70
Thanks @mgibbs189!

I'll go ahead and mark this as wontfix then with this new information.

[2020-11-16 21:30] #70 closed

[2020-11-23 23:25] pgraham3 opened #71 "Environment based settings"
Potentially related to https://github.com/wildbit/postmark-wordpress/issues/69

[2020-11-23 23:28] pgraham3 opened #72 "Obfuscate API Token in Settings Page"

[2021-03-02 08:35] gvenk opened #73 "Add Message Stream Support"
I saw there is support for [Message Stream in the Craft CMS plugin](https://postmarkapp.com/blog/how-to-reliably-deliver-craft-email-with-the-postmark-plugin), are there any plans to add this also to the WordPress plugin?

[2021-03-03 17:11] pgraham3 commented on #73
Hi, @gvenk!

You can currently set a message stream to use in the Postmark for WordPress plugin settings:

![Screen Shot 2021-03-03 at 9 07 22 AM](https://user-images.githubusercontent.com/16660335/109843452-eb549d00-7bff-11eb-9d92-50aa423f1d0a.png)

The default used is 'outbound' which is for the default server transactional stream. You can change that to a different stream you want to use though

[2021-03-05 21:42] darrylhein opened #74 "Show error message if plugin cannot be enabled"
After a good 30+ minutes, we finally found the FAQ item stating that the plugin is not shown if another plugin is using `wp_mail`. Would it instead be possible to still show the menu item with a message stating why it's not enabled/being used?

[2021-03-08 22:23] pgraham3 commented on #74
@darrylhein Yes this should definitely be improved - sorry for the trouble there. I think preventing the plugin's activation altogether if a conflict is detected may be the best option for ensuring folks don't try to use it while another plugin is also overriding `wp_mail`.

[2021-03-11 10:02] gvenk commented on #73
Ah, great, I hadn't noticed this. I'm gonna try it, thanks!

[2021-03-11 10:02] #73 closed

[2021-07-01 20:45] tflight commented on #71
Hi @pgraham3,

I've been wanting something similar. With today's announcement of Sandbox mode it becomes even more useful. I'd be happy to work on a PR for this. I was thinking of an approach like this:

https://wpmailsmtp.com/docs/how-to-secure-smtp-settings-by-using-constants/

Basically check for the existence of constants in `wp-config.php` and do an `array_merge()` on them inside of `load_set

[2021-07-05 16:32] pgraham3 commented on #71
@tflight I like this idea/approach as well! Thanks for the offer to work on a PR for it. Happy to review it when it is ready.

[2021-07-05 16:38] tflight commented on #71
Great, I'll get a PR soon. It looks like this repo is a version behind what is in the Plugins directory, so maybe you can get this repo up to date first?

[2021-07-05 22:37] pgraham3 commented on #71
All set! Should have parity with the WordPress repo's trunk now.

[2021-07-07 02:23] pixelbrad opened #78 "Postmark not pruning old log entries"
Hello,

Bit of an edge-case for ya. I recently had a run-in with a plugin where it was attempting to send up to 100 emails every minute non-stop for the past few weeks. I've notified the plugin developers of how this situation arose, and hopefully it doesn't happen again, but it has led to some unintended side-effects. To put it simply, the other plugin I had an issue with led to over 1.15 million

[2021-07-07 02:57] pixelbrad commented on #78
Not sure if this is intentional, but this query

[code]

will return not 500 results but the full number of rows to be pruned. Like I said above, for me, that number was over 800,000.

[2021-07-07 17:03] pgraham3 commented on #78
@pixelbrad Hello! Yes this should be pruning in batches of 500 so the query is incorrect with the `LIMIT` there. I released a new version that addresses this and correctly limits the pruning to 500 logs at a time.

Let me know if this helps with running the cron job manually!

[2021-07-07 18:04] pixelbrad commented on #78
Thanks! Looks good to me. I manually pruned the logs last night with a custom script I whipped up, but I'm sure the changes you've implemented will chunk away just fine.

Fixed in v1.13.7

[2021-07-07 18:04] #78 closed

[2021-07-12 15:50] kenwiesner commented on #71
Been looking for a solution like this for a LONG time. We are a web hosting agency and having this functionality would allow us to ditch SendGrid and move to Postmark for our outbound transactional notifications from WordPress. Glad to help test this out!

[2021-08-11 16:03] #71 closed

[2021-08-20 19:04] MultiSuperFreek opened #80 "Graceful timeout handeling"
A customer of ours got alerted by customers of his shop, that they weren't allways receiving their digital products. After some digging I found this in the plugin logs:

cURL error 28: Operation timed out after 5000 milliseconds with 0 out of -1 bytes received

Since I use Postmark (and by extend this plugin) for the reliable delivery, this is no good. I was hoping this plugin would do better than

[2021-10-15 20:09] JordanPak opened #81 "Apply pre_wp_mail filter to wp_mail() override"
I'm building an "email whitelist" plugin into a site that I'm working on so staging and local development environments can block all outgoing emails unless they're "To" a recipient(s) in a whitelist managed by the plugin. Out out the box, WordPress' `wp_mail()` has a `pre_wp_mail` filter that I can use to short-circuit the message if all of the "To" recipients have been filtered out BEFORE the sit

[2021-12-05 00:18] davelozier commented on #81
I'd like to second this. It would be nice if we could short-circuit sending and just log the outbound message attempt.
[https://developer.wordpress.org/reference/hooks/pre_wp_mail/](https://developer.wordpress.org/reference/hooks/pre_wp_mail/)

[2021-12-16 17:22] bhubbard opened #84 "Manage Templates and Layouts from WordPress"
I would love to see the template/layout editor built/embedded into the WordPress plugin.

[2022-02-07 15:31] pgraham3 commented on #81
Hey @JordanPak @davelozier!

I have a PR opened for this request [here](https://github.com/wildbit/postmark-wordpress/pull/87). Can you please give it a look/test it out to see if it meets your needs?

Thanks!

[2022-02-07 19:53] JordanPak commented on #81
Hey @pgraham3 that looks perfect and worked well in a test I just conducted. Thank you so much!

[2022-02-07 20:09] pgraham3 commented on #81
Awesome - appreciate you two taking a look!

[2022-02-07 20:52] #81 closed

[2022-06-09 23:11] bhubbard commented on #32
@pgraham3 I started a branch to look into creating a Rest Api for the plugin. You can view the branch here:
https://github.com/bhubbard/postmark-wordpress/tree/32-rest-api-support

I started to look into authentication, and wanted to use the application password feature in WordPress which is basic auth, however I noticed in Postmark it appears there is no way for the inbound webhook to provide cus

[2022-06-14 20:23] #72 closed

[2022-06-20 12:17] pgraham3 opened #95 "E_ERROR from file class-postmark-debug.php"
In version 1.17.0 (latest) a couple customers reported issues with the new Site Health addition. Reverted stable to v1.16.1 for now until we fix it.

Error

Stack trace:
#0 /home/utag/public_html/wp-content/plugins/postmark-approved-wordpress-plugin/includes/class-postmark-debug.php(64): Postmark_Debug->strbool()
#1 /home/utag/public_html/wp-includes/class-wp-hook.php(307): Postmark_Debug->debug_i

[2022-06-20 12:29] pgraham3 commented on #95
Hello @bhubbard!

We had a couple reports over the weekend of [this PR](https://github.com/ActiveCampaign/postmark-wordpress/pull/92/files) causing an error.

Do you mind taking a look when you get a chance? I reverted to previous version of plugin for now in the marketplace.

One customer confirmed using WordPress 6.0 and PHP 8.0.7 when seeing the error.

[2022-07-15 19:30] pgraham3 opened #99 "Undefined Constants Warning"
**PHP Version:** 7.4.30
**WordPress Version:** 5.9.3
**Plugin version:** 1.17.1

**Tools > Site Health** page:

![image](https://user-images.githubusercontent.com/16660335/179297716-4b04a1f1-074b-45ea-af61-c6b7b05cb9de.png)

[2022-07-18 22:54] bhubbard commented on #99
@pgraham3 Hmm yeah it's not clear why those would be undefined unless the plugin was modified or running in a non-typical method. We could probably update the debug file to do a check to kill the notice, something like this:

```defined( POSTMARK_DIR ) ? POSTMARK_DIR : 'NOT DEFINED';```

Ideally if not defined we display the text in yellow or red to let them know it's probably an issue.

[2022-07-27 17:29] kyletaylored commented on #99
I'm actually getting this as a `Fatal Error` vs just a warning on the Site Info page.

[code]

![image](https://user-images.githubusercontent.com/1759794/181310588-e079d0e9-06aa-46f8-aab8-ac9e5e51c801.png)

**PHP Version**: 8.0.21
**WordPress Version**: 6.0.1
**Plugin version**: 1.17.1

[2022-07-27 20:06] pgraham3 commented on #99
I have a proposed PR for this [here](https://github.com/ActiveCampaign/postmark-wordpress/pull/100). Mind taking a look at that @bhubbard?

I also have it up as a tag (`1.17.2`) on the plugin marketplace.

@kyletaylored can you try out version `1.17.2` and let me know if that resolves the error?

You can update to version `1.17.2` using the `wp-cli`:

`$ wp plugin update postmark-approved-wordpres

[2022-07-27 22:31] kyletaylored commented on #99
Error still seems to persist.

![image](https://user-images.githubusercontent.com/1759794/181383710-b708a6ed-143c-462d-b3d7-432a2acb836c.png)

[code]

[2022-07-28 13:13] pgraham3 commented on #99
Thanks @kyletaylored! I see the issue.

I needed to have the constants' names in quotes for the `defined()` check. I just updated the `1.17.2` tag with that change.

Please reinstall version `1.17.2` and let me know how it goes.

[2022-07-28 13:41] kyletaylored commented on #99
Yep, that did it!

![image](https://user-images.githubusercontent.com/1759794/181519685-5afdf49d-fc3f-40a3-ba4f-04a5f16a25ff.png)

[2022-07-28 18:00] pgraham3 commented on #99
Awesome - thanks for confirming, @kyletaylored! 🫡